.page {
  padding: var(--rime-space-sm-md);
  font-family:
    system-ui,
    -apple-system,
    Segoe UI,
    Roboto,
    Arial,
    sans-serif;
}

.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: end;
  gap: var(--rime-space-sm);
  margin-bottom: var(--rime-space-sm-md);
}

.title {
  margin: var(--rime-space-0);
  font-size: 22px;
}

.subtitle {
  margin: var(--rime-space-xxs) var(--rime-space-0) var(--rime-space-0);
  color: #666;
  font-size: 13px;
}

.content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--rime-space-sm);
  align-items: start;
}

.list-wrapper {
  button {
    border-top: none;
    border-right: none;
    border-bottom: none;
  }
  display: flex;
  gap: var(--rime-space-xs-sm);
  flex-direction: column;
}

.list {
  border: var(--rime-space-xxs) solid hsl(265 15% 90% / 1);
  border-radius: var(--rime-space-sm-smd);
  /* overflow: hidden; */
  background: #fff;
}

.row {
  font-size: inherit;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: var(--rime-space-sm-smd);
  padding: var(--rime-space-sm-smd) var(--rime-space-sm-md);
  cursor: pointer;
  border-left: 13px solid transparent;
}

.row:hover {
  background: #fafafa;
}

.row--selected {
  background: #f3f8ff;
}

.time {
  color: #444;
  font-variant-numeric: tabular-nums;
}

.cat {
  font-weight: 600;
  color: #222;
}

.flow-badge {
  padding: var(--rime-space-xs);
  border-radius: var(--rime-space-sm-smd);
  font-size: 11px;
  font-weight: 600;
  overflow: visible;
  white-space: normal;
}

.label {
  color: #222;
  overflow: visible;
  white-space: normal;
}

.lvl {
  text-align: right;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 12px;
}

.lvl--info {
  color: #2b6cb0;
}

.lvl--warn {
  color: #b7791f;
}

.lvl--error {
  color: #c53030;
}

.details {
  border: var(--rime-space-xxs) solid hsl(265 15% 90% / 1);
  border-radius: var(--rime-space-sm-smd);
  background: #fff;
  overflow: hidden;
}

.details__header {
  display: flex;
  justify-content: space-between;
  gap: var(--rime-space-sm-md);
  padding: var(--rime-space-sm-md);
  border-bottom: var(--rime-space-xx-xs) solid #f0f0f0;
}

.details__title {
  font-weight: 700;
  margin-bottom: var(--rime-space-xs-sm);
}

.details__meta {
  display: flex;
  flex-wrap: wrap;
  gap: var(--rime-space-sm-smd);
  color: #555;
}

.json {
  margin: var(--rime-space-0);
  padding: var(--rime-space-sm-md);
  background: #0b1020;
  color: #e7e7e7;
  overflow: auto;
  max-height: 70vh;
}

/* .btn {
  font-size: inherit;
  border: var(--rime-space-xx-xs) solid #d0d0d0;
  background: #fff;
  padding: var(--rime-space-sm) var(--rime-space-sm-smd);
  border-radius: var(--rime-space-sm-smd);
  cursor: pointer;
} */

/* .btn:hover {
  background: #f6f6f6;
}

.btn--ghost {
  border: var(--rime-space-xx-xs) solid transparent;
} */
